.division{
    width: 95%;
    margin: auto;
}
.division ul{
    margin: 0;
    padding: 0;
}
.rien{
    text-align: center;
    font-family: System-ui;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.element{
    list-style: none;
    padding: 0 20px 30px 20px;
    border-radius: 8px;
    border: solid 1px #aaa;
    margin: 10px 0;
}