.logo{
    width: 120px;
    height: auto;
}
.titre{
    font-family: "Makebond";
    text-align: center;
    color: rgb(59, 124, 243);
    font-size: 50px;
}
.formulaire{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}
.formulaire input{
    border: solid 1px rgb(59, 124, 243);
    width: 350px;
    font-size: 15px;
    padding: 15px 10px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 15px;
    font-family: System-ui;
}
.formulaire label{
    margin-bottom: 5px;
    font-family: "Bungee", sans-serif;
    margin-left: 5px;
    cursor: pointer;
}
.formulaire label:hover{
    color: rgb(59, 124, 243);
}
.formulaire button{
    background: transparent;
    font-family: "Bungee", sans-serif;
    border: solid 1px rgb(59, 124, 243);
    border-radius: 15px;
    color: rgb(59, 124, 243);
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 0;
    transition: all .5s;
}
.formulaire button:hover{
    background-color: rgb(59, 124, 243);
    color: #fff;
}