.logo{
    width: 120px;
    height: auto;
}
.titre{
    font-family: "Makebond";
    text-align: center;
    color: rgb(59, 124, 243);
    font-size: 50px;
    letter-spacing: 2px;
}
.formulaire{
    margin-top: 50px;
    border-radius: 20px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formulaire input{
    margin:  5px 0 20px 0;
    padding:  15px 10px;
    outline: none;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: solid 1px rgb(59, 124, 243);
    border-radius: 20px;
}
.libelles{
    margin-left: 10px;
    font-family: "Bungee", sans-serif;
    cursor: pointer;
    transition: all .5s;
}
.libelles:hover{
    color: rgb(59, 124, 243);
}
.bouttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 30px;
}
.soumission{
    width: 170px;
    color: rgb(59, 124, 243);
    border: solid 1px rgb(59, 124, 243);
    background: transparent;
    border-radius: 20px;
    font-family: "Bungee", sans-serif;
    padding: 15px 0;
    cursor: pointer;
    transition: all .4s;
}
.soumission:hover{
    background-color: rgb(59, 124, 243);
    color: #fff;
}
.connexion{
    width: 170px;
    color: #fff;
    border: solid 1px #fff;
    background: rgb(59, 124, 243);
    border-radius: 20px;
    font-family: "Bungee", sans-serif;
    padding: 15px 0;
    cursor: pointer;
    transition: all .4s;
}
.connexion:hover{
    background-color: #fff;
    color: rgb(59, 124, 243);
    border: solid 1px rgb(59, 124, 243);
}