.App {
  text-align: center;
}

.w-400{
  width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo {
  position : absolute;
  left : 10px;
  top : 50%;
  transform : translateY(-50%);
  height : 100px;
}

.header{
  display : flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
}

.form {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.ligne1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.ligne2 {
  margin-bottom: 15px;
  text-align: left;
}

.ligne3{
  margin-bottom: 15px;
  text-align: left;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optiontexte, .optioncheck {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
}

.separator {
  border: none;
  border-top: 2px solid #cccccc;
  margin: 20px 0;
}

.bouton{
    margin-bottom: 15px;
    text-align: right;
}

.checkbox-bonne-reponse {
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
}

body{
  background-color: transparent !important;
}