.formulaire{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    padding-top: 10px;
}
.formulaire label{
    margin-bottom: 8px;
    font-family: "Bungee", sans-serif;
    z-index: 1;
    cursor: pointer;
    transition: all .5s;
}
.formulaire label:hover{
    color: rgb(59, 124, 243);
}

.formulaire input{
    outline: none;
    padding: 10px;
    font-size: 17px;
    font-family: system-ui;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px rgb(59, 124, 243);
    margin-top: -25px;
    margin-bottom: 30px;
    transition: all .5s;
}
.formulaire textarea{
    height: 70px;
    outline: none;
    font-size: 17px;
    font-family: system-ui;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px rgb(59, 124, 243);
    margin-top: -40px;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 10px;
    transition: all .5s;
    resize: none;
}
.formulaire input:focus,
.formulaire input:valid,
.formulaire textarea:focus,
.formulaire textarea:valid {
    margin-top: 0;
    border: solid 2px rgb(59, 124, 243);
    border-radius: 5px;
}
.formulaire div{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 20px;
}
.formulaire button{
    font-weight: bold;
    background: #fff;
    border-radius: 17px;
    border: solid 1px rgb(59, 124, 243);
    color: rgb(59, 124, 243);
    font-size: 17px;
    width: 120px;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
}
.formulaire button:hover{
    color: #fff;
    background: rgb(59, 124, 243);
    transform: translateY(-3px);
}
.popUpError, .popUpSuccess {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    font-family: system-ui;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: auto;
}

.popUpError {
    background-color: rgba(255, 0, 0, 0.9);
}

.popUpSuccess {
    background-color: rgba(0, 128, 0, 0.9);
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    font-family: system-ui;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    .formulaire {
        width: 300px;
    }
    .formulaire button{
        width: 100px;
    }

}
