.liste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    background-color: #fff;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 50px;
}

.liste > li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #737373;
    font: normal 22px Inter, Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}

.liste > li::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(59, 124, 243);
    transition: width 0.4s ease;
}

.liste > li:hover::after {
    width: 100%;
}

.liste > li > a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #737373;
    cursor: pointer;
    transition: all .5s;
}

.liste > li > a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(59, 124, 243);
    transition: width 0.4s ease;
}

.liste > li > a:hover::after {
    width: 100%;
}

.liste > li:hover,
.liste > li > a:hover {
    color: #000;
}

.aPropos {
    background-color: #fff;
    color: #737373;
    line-height: 1.38;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: .5px .5px 20px #afaeae;
    width: 500px;
    position: fixed;
    top: 7.6%;
    left: 15%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.aPropos li {
    list-style: disc;
}

.aPropos li::marker {
    color: rgb(59, 124, 243);
}

.aPropos::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 265px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* --- POPUP FONCTIONNEMENT --- */
.fonctionnement {
    background-color: #fff;
    color: #737373;
    line-height: 1.38;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: .5px .5px 20px #afaeae;
    width: 420px;
    position: fixed;
    top: 7.6%;
    left: 29%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

.fonctionnement::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 220px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.fonctionnement li {
    list-style: decimal;
}

.fonctionnement li::marker {
    color: rgb(59, 124, 243);
}

/* --- RESPONSIVE --- */
@media screen and (max-width:1250px) {
    .liste {
        display: none;
    }
}
